.CreateAccount-header {
  background: var(--primary-color);
}

.CreateAccount {
  background: var(--background-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.CreateAccount-decorationLinesR {
  display: none;
}

.CreateAccount-decorationLines {
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 0%;
}

@media (max-width: 500px) {
  .CreateAccount-decorationLines {
    display: none;
  }
  .CreateAccount-decorationLinesR {
    display: block;
    position: absolute;
    top: -110px;
    left: 0px;
    z-index: -1;
  }
}

.CreateAccount-container {
  width: 867px;
  box-shadow: 0px 4px 24px 0px #095f902e;
  background: #ffffff;
  border-radius: 24px;
  padding: 2% 4%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0px;
}

.CreateAccount-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 37px;
  text-transform: capitalize;
  color: var(--secondary-color);
}

.CreateAccount-form {
  display: flex;
  min-width: 250px;
  flex-grow: 1;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 35px;
  text-align: left;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--secondary-color);
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.CreateAccount-error {
  color: red;
  position: absolute;
  top: 90%;
}

.CreateAccount-formGroup {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 600px;
  justify-content: center;
  position: relative;
}

.CreateAccount-input {
  border: 1px solid black;
  height: 52px;
  max-width: 370px;
  box-sizing: border-box;
  background: linear-gradient(293.42deg, #FDFEFF 10.12%, #FFFFFF 93.81%);
  border: 1px solid rgba(16, 36, 71, 0.14);
  border-radius: 12px;
  font-family: 'Cairo Variable', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6f6c90;
  padding: 0px 20px;
  border-width: 2px;
  text-align: left;
}

.CreateAccount-select {
  height: 52px;
  max-width: 370px;
  box-sizing: border-box;
  background: linear-gradient(293.42deg, #FDFEFF 10.12%, #FFFFFF 93.81%);
  border: 1px solid rgba(16, 36, 71, 0.14);
  border-radius: 12px;
  font-family: 'Cairo Variable', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6f6c90;
  padding: 0px 20px;
  border-width: 2px;
  text-align: left;
  padding-right: 40px;
}

.CreateAccount-input:focus {
  border-color: #33ff00 !important;
}

.CreateAccount-input:invalid {
  border-color: red;
}

.CreateAccount-separationLine {
  display: flex;
  align-items: center;
  width: 100%;
}

.CreateAccount-separationLine hr {
  width: 100%;
  height: 0px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.CreateAccount-separationLine h6 {
  margin: 20px 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.25);
}

.CreateAccount-button--createAccount {
  width: 266px;
  height: 52px;
  color: var(--main-text-color);
  background: var(--primary-color);
  border-radius: 50px;
  width: 266px;
  height: 52px;
  border-radius: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 9px;
  letter-spacing: 0.02em;
  border: none;
  transition: all 0.3s ease;
}

.CreateAccount-button--createAccount.Loading {
  background: #fff;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
}

.CreateAccount-button--createAccount:hover {
  border: 3px solid var(--primary-color);
  background: #fff;
  color: var(--primary-color);
  transform: scale(1.05);
}

.login-loader {
  animation: animate 1s ease infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.CreateAccount-button--signIn {
  width: 266px;
  height: 52px;
  background-color: #fff;
  border: 3px solid var(--secondary-color);
  border-radius: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 9px;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: all 0.3s ease;
}

.CreateAccount-button--signIn:hover {
  background-color: var(--secondary-color);
  color: #fff;
  transform: scale(1.05);
}
